@import "../../../variables/variables.color";

.button {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  display: block;
  background-color: $bg-fill-green;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  //box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


  &:active {
    background-color: #fff;
    transition: .5s linear;
    background-position: -200% 0, 0 0;
    box-shadow: none;
    transform: translateY(10px);
  }

  &__one,
  &__two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 0;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
  }

  &__one {

    &__open {
      composes: button__one;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &__two {
    transform: translate(-50%, -50%) rotate(90deg);

    &__open {
      composes: button__two;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }


}

.background {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  height: calc(100% - 51px);
  background-color: rgba(255, 255, 255, .6);

  &__close {
    background-color: transparent;;
  }
}

.createButton {

  &__close {
    composes: button;
    overflow: visible;
    width: 36px;
    height: 36px;
    right: 24px;
    color: #ffffff;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s ease-in-out;
  }

  &__board {
    composes: createButton__close;
    bottom: 189px;
    transform: translate(-50%, -50%) scale(1);

    &:active {
      transition: all 1s ease-in-out;
    }

    &::after {
      display: block;
      color: #000;
      content: 'Board';
      position: absolute;
      right: 60px;
      top: 50%;
      padding: 2px 6px;
      transform: translateY(-50%);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  &__student {
    composes: createButton__board;
    bottom: 138px;

    &::after {
      content: 'Student';
    }
  }

  &__team {
    composes: createButton__board;
    bottom: 87px;

    &::after {
      content: 'Team';
    }
  }
}



//MEDIA TABLE+
@media screen and (min-width: 768px) {
  .button {
    display: none
  }

  .background {
    display: none;
  }
}