@import "../../../variables/variables.color";

.button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  display: block;
  background-color: $bg-fill-green;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;

  &:active {
    background-color: #fff;
    transition: .5s linear;
    background-position: -200% 0, 0 0;
    box-shadow: none;
  }

  &__one,
  &__two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 0;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
  }

  &__one {

    &__open {
      composes: button__one;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &__two {
    transform: translate(-50%, -50%) rotate(90deg);

    &__open {
      composes: button__two;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }


}

//MEDIA TABLE+
@media screen and (min-width: 768px) {
  .button {
    display: none
  }
}