@import "../../../variables/variables.color";

.board {
  width: 80%;
  margin: 0 auto ;
  padding: 4px 0;
  display: flex;

  &__line {
    display: block;
    width: 1px;
    border: 1px solid hsla(0, 0%, 100%, .24);
    margin: 6px 12px;
  }

  &__date {
    display: flex;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 4px;
    //margin-right: 4px;

    &:hover {
      background-color: $bg-secondary-fill-hover;
    }

    &__inner {
      display: flex;

      & p {
        font-size: 16px;
      }

      &:first-child::after {
        content: '-';
        margin: 0 4px;
      }

      & p::after {
        content: '.';
      }

      & p:last-child::after {
        content: '';
      }
    }
  }

  &__star {
    width: 32px;
    //margin-right: 4px;

    &__inner {
      position: relative;
      height: 0;
      border: none;
      padding-top: 100%;

      &__content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        background-color: $bg-secondary-fill;
        cursor: pointer;
        color: #ffffff;

        &:hover {
          background-color: $bg-secondary-fill-hover;
        }
      }
    }
  }

  &__personal {
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: $bg-secondary-fill;
    cursor: pointer;

    &:hover {
      background-color: $bg-secondary-fill-hover;
    }
  }

  &__access {
    display: flex;
  }
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
}