//bg-color
$bg-main-blue: #026aa7;
$bg-secondary-blue: #01509f;
$bg-main-gray: #f4f5f7;

$bg-main-fill: #0079bf;

$bg-fill-green: #5aac44;

$bg-secondary-fill: hsla(0,0%,100%,.3);
$bg-secondary-fill-hover: hsla(0,0%,100%,.2);

$color-main-blue: #172b4d;
$color-secondary-blue: #5e6c84;

