//bg-color
$bg-main-blue: #026aa7;
$bg-secondary-blue: #01509f;
$bg-main-gray: #f4f5f7;

$bg-main-fill: rgb(0, 121, 191);

$bg-gradient-main : rgba(0, 121, 191, 1);
$bg-gradient-secondary : rgba(0, 121, 191, .8);
$bg-gradient-tertiary : rgba(0, 121, 191, .6);
$bg-gradient-quaternary : rgba(0, 121, 191, .4);

//$bg-fill-green: #5aac44;
//$bg-fill-green: #00ff00;
//$bg-fill-green: #21d100;
$bg-fill-green: hsl(105, 70%, 41%);;

$bg-secondary-fill: hsla(0,0%,100%,.3);
$bg-secondary-fill-hover: hsla(0,0%,100%,.2);

$color-main-blue: #172b4d;
$color-secondary-blue: #5e6c84;

